.ant-card-body .table-operator {
  margin-bottom: 18px;

  button {
    margin-right: 8px;
  }
}


.ant-table-expanded-row p {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 2px;
}

.wordwrap {
  width: 100%;
  height: auto;
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word
}


.ant-pro-table-search {
  margin-bottom: 16px;
  padding: 16px 24px 0;
  background: #fff;

  .ant-form-item {
    margin-bottom: 16px !important;
  }
}

.ant-pro-table-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 24px;
}

.ant-pro-table-toolbar-title {
  flex: 1 1;
  color: rgba(0, 0, 0, .85);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  opacity: .85;
}

.ant-pro-table-toolbar-option {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    margin-right: 8px;
  }
}

.ant-space-align-center {
  align-items: center;
}


.table-page-search-wrapper {
  padding-left: 8px;
  padding-right: 8px;
  text-align: right;

  .table-page-search-submitButtons {
    padding-top: 3.5px;
    margin-bottom: 16px;
  }
}

.ant-pro-table-wrapper {
  .ant-table-thead > tr:first-child > th:first-child, .ant-table-tbody .ant-table-row > td:first-child {
    padding-left: 24px !important;
  }
}
